body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.navbar {
  background-color: transparent;
}

.top-nav-collapse {
  background-color: #4285F4;
}

.Home {
  background-size:cover;
  height:100vh;
  background-repeat: no-repeat;
  background-position: center;

  .homeText {
    color: white;
    padding: 75px 0 0 0; 
    
    h1 {
      font-size: 5vw;
      text-align: left;
      padding: 10% 0 0 10%;
    }

  }

  Form {
    width: 30%;
  }
}

//=============== Auth Modals ================
.mainModal {
  width: 60vw;
}

.modal-dialog{
  max-width: 600px;
}

.centerModal {

  display: flex;
  justify-content: center;
  padding:0;

  .btnCol {
    display:flex;
    justify-content: center;
    display: contents;

    Button {
      margin: 10px;
    }

  } 
  
}

.modalBtnTitle {
  padding-top: 30px;
}
//============= End Auth Modals ===============

// =========== Password Strength Bar ==========
.password-strength-meter {
  text-align: left;
}

.password-strength-meter-progress {
  -webkit-appearance: none;
  appearance: none;
  width: 250px;
  height: 8px;
}

.password-strength-meter-progress::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 3px;
}

.password-strength-meter-label {
  font-size: 14px;
}

.password-strength-meter-progress::-webkit-progress-value {
  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

.strength-Weak::-webkit-progress-value {
  background-color: #F25F5C;
}
.strength-Fair::-webkit-progress-value {
  background-color: #FFE066;
}
.strength-Good::-webkit-progress-value {
  background-color: #247BA0;
}
.strength-Strong::-webkit-progress-value {
  background-color: #70C1B3;
}
// ========== End Password Strength Bar =========


.Collection {

  background-size:cover;
  height:104vh;
  background-repeat: no-repeat;
  background-position: center;

  overflow: auto;

  .list {
    margin-top: 50px;
    float: left;
    padding: 0 0 0 15%; 
  }

  li {
    list-style: none;
    padding: 20px;
  }

  li img {
    object-fit: contain;
    transition:all .5s;
  }

  li img:hover {
    transform: scale(1.2, 1.2);
  }

}

.Upload {
  display: flex;
  justify-content: flex-end;
  background-size:cover;
  // object-fit: contain;
  height:100vh;
  background-repeat: no-repeat;
  background-position: center;

  .uploadDisplay {
    flex-direction: column;
    align-items: center;
    margin: 50px;
    // width: 100%;
  }

  .uploadInput {
    margin-top: 20px;
  }

  .uploadBtn {
    width: 100%;
    margin: 20px 0 0;
  }
  
}

@media screen and (max-width: 768px) {

  .navbar {
    background-color: #4285F4;
  }

  .Home {

    background-position: 80% 80%;

    .homeText {
      
      h1 {
        font-size: 7vw;
      }
    }
  }
    
  .Collection {
    
    background-position: left;
    
    .list {
      margin: 50px 0 0 0;
      padding: 0 0 0 5%;
    }

  }

  .Upload {

    .uploadDisplay {
      margin: 40% 10% 0 0;
    }

  }
}