// --------------------
// Definition of variables
// $primary: #32c3ff;


// ----------------------------------------
// To install Boostrap:
// 1) Run in the client folder: $ npm i bootstrap
// 2) Import bootstrap with the following line
// @import '../node_modules/bootstrap/scss/bootstrap.scss';
// 
// To install Reactstrap:
// 1) Run in the client folder: $ npm i reactstrap
// 2) Go to the official documentation and take some examples: https://reactstrap.github.io/
// import { Button } from 'reactstrap';
// <Button color="danger">Danger!</Button>
// ----------------------------------------


// --------------------
// Style reusable for all components
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.info {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  background-color: #5776e9;
  color: white;
}

.info.info-danger {
  background-color: #e73f3f;
}

// --------------------
// Style for App component
.App {
  text-align: center;

  // .navLogo {
  //   width: 2vw;
  // }

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }

  .App-header {
    // background-color: rgb(39, 38, 38);
    // padding: 10px;
    color: white;

    a {
      color: white;
      padding: 0 5px;
      text-decoration: unset;
    }

    a.active {
      font-weight: bold;
    }
  }

  .App-title {
    font-size: 1.5em;
  }

  .App-intro {
    font-size: large;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}

.Collection {

  // background-color: blue;
  // max-height: 90vh; 
  overflow: scroll;
  h2 {
    padding: 35px;
    margin-top: -10px;
  }

  .list {
    margin-top: 50px;
  }

  li {
    list-style: none;
    padding: 20px;
  }

  .imgCircleRadius {
    border-radius: max($numbers: 110%)
  }

  // li > button {
  //   border: none;
  //   background-color: transparent;
  // }

  li img {
    object-fit: contain;
    //border-radius: 50%;
    // width: 250px;
    // height: 250px;
    transition:all .5s;

    
  }

  li img:hover {
    transform: scale(1.1, 1.1);
  }

}

.mainModal {
  width: 60vw;
}

.modal-dialog{
  max-width: 600px;
}

.centerModal {
  display: flex;
  justify-content: center;
  padding:0;

  .btnCol {
    display:flex;
    justify-content: center;
    display: contents;

    Button {
      margin: 10px;
    }

  } 



  
}


.modalBtnTitle {
  padding-top: 30px;
}

// --------------------
// Style for Home component
.Home {
  p {
    font-size: 1.2em;
  }
}


.Home {
  background-size:cover;
  // object-fit: contain;
  height:100vh;
  background-repeat: no-repeat;
  background-position: center;

  .homeText {
    color: white;
    padding: 75px 0 0 0; 
    
    h1 {
      font-size: 4.7vw;
    }

  }
}

.homeText h2 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 4vw;
}

.Upload {
  display: flex;
  justify-content: flex-end;
  background-size:cover;
  // object-fit: contain;
  height:100vh;
  background-repeat: no-repeat;
  background-position: center;

  .uploadDisplay {
    flex-direction: column;
    align-items: center;
    margin: 50px;
    // width: 100%;
  }

  .uploadInput {
    margin-top: 20px;
  }

  .uploadBtn {
    width: 100%;
    margin: 20px 0 0;
  }
  
}

@media (max-width: 768px) {

  .homeText h2 {
    font-size: 5.5vw;
  }

}

// --------------------
// Style for Secret component
// .Secret {
//   .result {
//     font-size: 1.2em;
//     color: $primary;
//   }
// }